@page
@{
    Layout = "_AdminLayout";
}
@model AddModel
@{
    ViewData["Title"] = "Add page";
}
<header class="masthead">
    <div class="text-center">
        <h1 class="display-4">Add page</h1>
    </div>
</header>