@page
@{
    Layout = "_AdminLayout";
}
@model DeleteModel
@{
    ViewData["Title"] = "Delete page";
}

<header class="masthead">
    <div class="text-center">
        <h1 class="display-4">Delete page</h1>
    </div>
</header>