@page
@{
    Layout = "_AdminLayout";
}
@model EditModel
@{
    ViewData["Title"] = "Edit page";
}

<header class="masthead">
    <div class="text-center">
        <h1 class="display-4">Edit page</h1>
    </div>
</header>
