@page
@{
    Layout = "_UserLayout";
}
@model ListModel
@{
    ViewData["Title"] = "List Movies page";
}

<header class="masthead">
    <div class="text-center">
        <h1 class="display-4">List Movies page</h1>
    </div>
</header>