@page
@{
    Layout = "_UserLayout";
}
@model AddModel
@{
    ViewData["Title"] = "Search page";
}

<header class="masthead">
    <div class="text-center">
        <h1 class="display-4">Search page</h1>
    </div>
</header>